:root{
     --primary-10: #f2f8f9;
    --primary-9: #deeeef;
    --primary-8: #c1dee0;
    --primary-7: #96c6ca;
    --primary-6: #64a5ac;
    --primary-5: #4f959d;
    --primary-4: #3f727b;
    --primary-3: #385e66;
    --primary-2: #344f56;
    --primary-1: #2f444a;
    --primary-0: #1c2c30;
    --grey-1:hsl(189,61%,35%);
    --grey-2:hsl(189,39%,35%);
    --grey-3:hsl(189,34%,35%);
    --grey-4:hsl(189,30%,35%);
    --grey-5:hsl(189,22%,49%);
    --grey-6:hsl(189,23%,60%);
    --grey-7:hsl(189,27%,70%);
    --grey-8:hsl(189,31%,80%);
    --grey-9:hsl(189,33%,90%);
    --grey-10:hsl(189,36%,98%);
    --primary-white:#fff;
    --ff-primary:"Noto Serif", serif;
    --transition:all 0.3s linear;
    --spacing:0.25rem;
    --radius:0.5rem;
    --light-shadow:0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow:0 5px 15px rgba(0,0,0,0.2);
    --nav-height:80px;
}
/* =================================================== */
/* global settings */
html,body{
    margin:0;
    padding:0;
   
}
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    height:100%;
     font-family: var(--ff-primary);
     background: var(--white);
     color:var(--grey-1);
     line-height: 1.5;
     font-size: 0.875rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:black;
}
img:not(.logo){
    width:100%;
    display:block;
}
h1,h2,h3,h4{
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height:1.25;
    margin-bottom: 0.75rem;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.25rem;
}
h4{
    font-size: 0.875rem;
}
p{
    margin-bottom: 1.25rem;
    color:var(--grey-5);
}
 /* =================sections==================== */
/* navbar */

img{
    width: 100%;
}
nav .container{
    width: 100%;
    padding: 0 2rem;
}
.navbar{
    background-color: var(--primary-10);
    padding: 1rem 2rem;
    height:80px;
    display: flex;
}
.navbar-flex {
    display: flex;
    gap:1.5rem;
    align-items: center;
    justify-content:space-between;
}
.menu-list,
.icon-list
{
    display: flex;
    gap:1.5rem;
    align-items: center;
    justify-content: center;
}
.menu-list a{
    color:blue;
    font-weight: bold;
}
.navbar .logo{
    width: 100px;
}
 .mobile-menu{
    display: none;
    width: 80%;
}
.navbar .mobile-menu-items{
    position: absolute;
    top:80px;
    bottom: 0;
    left:0;
    width: 100%;
    background: rgba(154,192,204,0.5);
    z-index: 999;
    transition:var(--transition);
    transform: translateX(100%);
}
.navbar .mobile-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 100px;
    gap: 2rem;
    font-size: 1.2rem;
}
.navbar .mobile-menu-toggle{
    position: absolute;
    top:20px;
    right:20px;
    cursor: pointer;
    font-size: 28px;
}
.navbar .mobile-menu-items.active{
    transform: translateX(0);
}
.navbar .mobile-menu{
    display: none;
}
.icons-list{
    width: 10%;
    text-align: right;
    gap:1.5rem;
    align-items: center;
}

.banner{
    position: relative;
    background-image: url(../img/bg.jpg);
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    background-size: cover; 
    width: 100%;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannercontent{
    position: absolute;
    z-index: 99;
    width: 600px;
    text-align: center;
    color:white;
    
}
.bannercontent a{
    text-decoration: none;
    color:white;
    border:1px solid white;
    padding:10px;
}
section{
     padding: 15px;
}
#about .about-content{
    display: flex;
    flex-direction: row;
}
#about img{
    width: 50%;
}
#about .aboutus_description{
    padding: 15px;
}

#services{
    display: flex;
    flex-direction: row;

}
#services .item{
    display: flex;
    flex-direction: row;
    padding:2rem;
}
#services .item .subitem{
    line-height: 1.2rem;
    padding: 0px 10px;
}
.text-primary{
    color:blue;
}
.text-secondary{
color:cornflowerblue;
}
.subject{
    text-align: center;
}
footer{
    position: static;
    bottom: 0;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100px;
}
@media (max-width:768px) {
    .navbar .main-menu{
        display: none;
    }
    .navbar .mobile-menu{
        display: block;
        
    }
    .navbar{
        .main-menu,
        .icon-menu{
            display: none;
        }
    }
    .navbar .icon-list{
        display: none;
    }
}